<?xml version="1.0" encoding="Windows-1252"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="System.Windows.Forms.ToolStripApplicationSettings.MainForm.mainToolbar" type="System.Configuration.ClientSettingsSection, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            <section name="System.Windows.Forms.ToolStripApplicationSettings.MainForm.toolsToolbar" type="System.Configuration.ClientSettingsSection, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            <section name="System.Windows.Forms.ToolStripApplicationSettings.MainForm.toolStrip3" type="System.Configuration.ClientSettingsSection, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            <section name="System.Windows.Forms.ToolStripApplicationSettings.MainForm.toolStrip2" type="System.Configuration.ClientSettingsSection, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            <section name="System.Windows.Forms.ToolStripApplicationSettings.MainForm.toolStrip1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            <section name="System.Windows.Forms.ToolStripItemApplicationSettings.MainForm.helpToolStripMenuItem" type="System.Configuration.ClientSettingsSection, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            <section name="System.Windows.Forms.ToolStripItemApplicationSettings.MainForm.sTGEditBoxToolStripButton" type="System.Configuration.ClientSettingsSection, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            <section name="System.Windows.Forms.ToolStripItemApplicationSettings.MainForm.consoleToolStripTextBox" type="System.Configuration.ClientSettingsSection, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <System.Windows.Forms.ToolStripApplicationSettings.MainForm.mainToolbar>
            <setting name="Location" serializeAs="String">
                <value>309, 21</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>100, 26</value>
            </setting>
            <setting name="Raft" serializeAs="String">
                <value>Top</value>
            </setting>
            <setting name="ItemOrder" serializeAs="String">
                <value>saveButton,takeScreenshot,toolStripSeparator1,toolStripButton2,toolStripAssetBrowser,</value>
            </setting>
        </System.Windows.Forms.ToolStripApplicationSettings.MainForm.mainToolbar>
        <System.Windows.Forms.ToolStripApplicationSettings.MainForm.toolsToolbar>
            <setting name="Location" serializeAs="String">
                <value>0, 47</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>338, 25</value>
            </setting>
            <setting name="Raft" serializeAs="String">
                <value>Top</value>
            </setting>
            <setting name="ItemOrder" serializeAs="String">
                <value>moveButton,rotateButton,scaleButton,toolStripButton4,orbitViewToolStripButton,toolStripSeparator7,toolStripComboBox1,toolStripSeparator2,slowToolStripButton,mediumToolStripButton,fastToolStripButton,</value>
            </setting>
        </System.Windows.Forms.ToolStripApplicationSettings.MainForm.toolsToolbar>
        <System.Windows.Forms.ToolStripApplicationSettings.MainForm.toolStrip3>
            <setting name="Location" serializeAs="String">
                <value>0, 21</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>206, 25</value>
            </setting>
            <setting name="Raft" serializeAs="String">
                <value>Top</value>
            </setting>
            <setting name="ItemOrder" serializeAs="String">
                <value>xToolStripButton,boxX,toolStripLabel2,boxY,toolStripLabel1,boxZ,</value>
            </setting>
        </System.Windows.Forms.ToolStripApplicationSettings.MainForm.toolStrip3>
        <System.Windows.Forms.ToolStripApplicationSettings.MainForm.toolStrip2>
            <setting name="Location" serializeAs="String">
                <value>206, 21</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>87, 25</value>
            </setting>
            <setting name="Raft" serializeAs="String">
                <value>Top</value>
            </setting>
            <setting name="ItemOrder" serializeAs="String">
                <value>sTGToolStripButton,sTGEditBoxToolStripButton,</value>
            </setting>
        </System.Windows.Forms.ToolStripApplicationSettings.MainForm.toolStrip2>
        <System.Windows.Forms.ToolStripApplicationSettings.MainForm.toolStrip1>
            <setting name="Location" serializeAs="String">
                <value>361, 47</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>399, 26</value>
            </setting>
            <setting name="Raft" serializeAs="String">
                <value>Top</value>
            </setting>
            <setting name="ItemOrder" serializeAs="String">
                <value>consoleToolStripButton,consoleToolStripTextBox,toolStripSeparator4,toolStripButton1,insertToolBarSep,changeActor,addActorButton,actorsCombo,</value>
            </setting>
        </System.Windows.Forms.ToolStripApplicationSettings.MainForm.toolStrip1>
        <System.Windows.Forms.ToolStripItemApplicationSettings.MainForm.helpToolStripMenuItem>
            <setting name="Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayStyle" serializeAs="String">
                <value>ImageAndText</value>
            </setting>
            <setting name="TextDirection" serializeAs="String">
                <value>Horizontal</value>
            </setting>
            <setting name="TextAlign" serializeAs="String">
                <value>MiddleCenter</value>
            </setting>
            <setting name="ImageAlign" serializeAs="String">
                <value>MiddleCenter</value>
            </setting>
            <setting name="TextImageRelation" serializeAs="String">
                <value>ImageBeforeText</value>
            </setting>
            <setting name="Owner" serializeAs="String">
                <value>mainMenu</value>
            </setting>
        </System.Windows.Forms.ToolStripItemApplicationSettings.MainForm.helpToolStripMenuItem>
        <System.Windows.Forms.ToolStripItemApplicationSettings.MainForm.sTGEditBoxToolStripButton>
            <setting name="DisplayStyle" serializeAs="String">
                <value>ImageAndText</value>
            </setting>
            <setting name="TextDirection" serializeAs="String">
                <value>Horizontal</value>
            </setting>
            <setting name="TextAlign" serializeAs="String">
                <value>MiddleCenter</value>
            </setting>
            <setting name="ImageAlign" serializeAs="String">
                <value>MiddleCenter</value>
            </setting>
            <setting name="TextImageRelation" serializeAs="String">
                <value>ImageBeforeText</value>
            </setting>
            <setting name="Owner" serializeAs="String">
                <value>toolStrip2</value>
            </setting>
        </System.Windows.Forms.ToolStripItemApplicationSettings.MainForm.sTGEditBoxToolStripButton>
        <System.Windows.Forms.ToolStripItemApplicationSettings.MainForm.consoleToolStripTextBox>
            <setting name="DisplayStyle" serializeAs="String">
                <value>ImageAndText</value>
            </setting>
            <setting name="TextDirection" serializeAs="String">
                <value>Horizontal</value>
            </setting>
            <setting name="TextAlign" serializeAs="String">
                <value>MiddleCenter</value>
            </setting>
            <setting name="ImageAlign" serializeAs="String">
                <value>MiddleCenter</value>
            </setting>
            <setting name="TextImageRelation" serializeAs="String">
                <value>ImageBeforeText</value>
            </setting>
            <setting name="Owner" serializeAs="String">
                <value>toolStrip1</value>
            </setting>
        </System.Windows.Forms.ToolStripItemApplicationSettings.MainForm.consoleToolStripTextBox>
    </userSettings>
</configuration>